html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #1b1b1b url(images/overlay.png) repeat;
  font-family: 'Varela Round', sans-serif;
  font-size: 11pt;
  font-weight: 400;
  color: #000000;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

p,
ol,
ul {
  margin-top: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 180%;
}

strong {
}

a {
  color: #0000ff;
}

a:hover {
  text-decoration: none;
}

.container {
  margin: 0px auto;
  width: 1200px;
}

/*********************************************************************************/
/* Form Style                                                                    */
/*********************************************************************************/

form {
}

form label {
  display: block;
  text-align: left;
  margin-bottom: 0.5em;
}

form .submit {
  margin-top: 2em;
  background: #67128f;
  border-radius: 8px;
  line-height: 1.5em;
  font-size: 1.3em;
}

form input.text,
form select,
form textarea {
  position: relative;
  -webkit-appearance: none;
  display: block;
  border: 0;
  background: #fff;
  background: rgba(255, 255, 255, 0.75);
  width: 100%;
  border-radius: 0.5em;
  margin: 1em 0em;
  padding: 1.5em 1em;
  box-shadow: inset 0 0.1em 0.1em 0 rgba(0, 0, 0, 0.05);
  border: solid 1px rgba(0, 0, 0, 0.15);
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1em;
  outline: none;
}

form input.text:hover,
form select:hover,
form textarea:hover {
}

form input.text:focus,
form select:focus,
form textarea:focus {
  box-shadow: 0 0 2px 1px #e0e0e0;
  background: #fff;
}

form textarea {
  min-height: 12em;
}

form .formerize-placeholder {
  color: #555 !important;
}

form ::-webkit-input-placeholder {
  color: #555 !important;
}

form :-moz-placeholder {
  color: #555 !important;
}

form ::-moz-placeholder {
  color: #555 !important;
}

form :-ms-input-placeholder {
  color: #555 !important;
}

form ::-moz-focus-inner {
  border: 0;
}

/*********************************************************************************/
/* Image Style                                                                   */
/*********************************************************************************/

.image {
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.image img {
  display: block;
  width: 100%;
}

.image-full {
  display: block;
  width: 100%;
  margin: 0 0 3em 0;
}

.image-left {
  float: left;
  margin: 0 2em 2em 0;
}

.image-centered {
  display: block;
  margin: 0 0 2em 0;
}

.image-centered img {
  margin: 0 auto;
  width: auto;
}

/*********************************************************************************/
/* List Styles                                                                   */
/*********************************************************************************/

ul.style1 {
}

/*********************************************************************************/
/* Social Icon Styles                                                            */
/*********************************************************************************/

ul.contact {
  margin: 0;
  padding: 1em 0em 0em 0em;
  list-style: none;
}

ul.contact li {
  display: inline-block;
  padding: 0em 0.2em;
  font-size: 1.2em;
}

ul.contact li span {
  display: none;
  margin: 0;
  padding: 0;
}

ul.contact li a {
  color: rgba(255, 255, 255, 1);
}

ul.contact li a:before {
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  background: #6c2a6a;
  border-radius: 30px;
  text-align: center;
}

/*********************************************************************************/
/* Button Style                                                                  */
/*********************************************************************************/

.button {
  display: inline-block;
  margin-top: 2em;
  padding: 0.6em 1em;
  background: #6c2a6a;
  border-radius: 4px;
  line-height: 1.8em;
  text-decoration: none;
  font-weight: 400;
  font-size: 1.2em;
  color: #fff;
}

.button:before {
  display: inline-block;
  background: #8dcb89;
  margin-right: 1em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #272925;
}

.button-small {
}

/*********************************************************************************/
/* Heading Titles                                                                */
/*********************************************************************************/

.title {
  margin-bottom: 3em;
}

.title h2 {
  font-size: 2.8em;
  color: #261300;
  text-align: center;
}

.title .byline {
  letter-spacing: 0.15em;
  font-weight: 400;
  font-size: 1.1em;
  color: #6f6f6f;
}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

#header-wrapper {
  overflow: hidden;
  padding: 5em 0em;
}

#header {
}

/*********************************************************************************/
/* Logo                                                                          */
/*********************************************************************************/

#logo {
  padding: 5em 0em;
  text-align: center;
}

#logo h1 {
  font-size: 3.5em;
}

#logo h1 a {
  color: #6c2a6a;
}

#logo a {
  text-decoration: none;
}

#logo span {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #3c3c3c;
}

#logo span a {
  color: #3c3c3c;
}

#logo .icon {
  display: inline-block;
  margin-bottom: 2em;
  padding: 1em;
  background: #6c2a6a;
  border-radius: 50%;
  font-size: 1.6em;
  color: #fff;
}

/*********************************************************************************/
/* Menu                                                                          */
/*********************************************************************************/

#menu {
}

#menu ul {
  text-align: center;
}

#menu li {
  display: inline-block;
}

#menu li a,
#menu li span {
  display: inline-block;
  margin-left: 0.5em;
  padding: 1em 1.5em;
  letter-spacing: 0.2em;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
  color: #3c3c3c;
}

#menu li:hover a,
#menu li.active a,
#menu li.active span {
}

#menu .current_page_item a {
  border: 1px solid #3c3c3c;
  border-radius: 4px;
}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

#banner {
}

/*********************************************************************************/
/* Wrapper                                                                       */
/*********************************************************************************/

#wrapper1 {
  background: #fff;
}

#wrapper2 {
  background: #6c2a6a;
}

#wrapper3 {
  overflow: hidden;
  padding: 0em 0em 8em 0em;
  background: #fff;
}

#wrapper4 {
  overflow: hidden;
  padding: 8em 0em 4em 0em;
}

/*********************************************************************************/
/* Welcome                                                                       */
/*********************************************************************************/

#welcome {
  overflow: hidden;
  width: 1000px;
  padding: 8em 100px 8em 100px;
  text-align: center;
  color: rgba(255, 255, 255, 0.4);
}

#welcome .content {
  padding: 0em 8em;
}

#welcome .title h2 {
  color: rgba(255, 255, 255, 1);
}

#welcome a,
#welcome strong {
  color: rgba(255, 255, 255, 0.6);
}

/*********************************************************************************/
/* Page                                                                          */
/*********************************************************************************/

#page {
}

/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

#content {
}

/*********************************************************************************/
/* Sidebar                                                                       */
/*********************************************************************************/

#sidebar {
}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

#footer {
  padding: 8em 0em 5em 0em;
  text-align: center;
}

#footer .title h2 {
  color: rgba(255, 255, 255, 1);
}

#footer .title .byline {
  letter-spacing: normal;
  font-size: 1.6em;
  color: rgba(255, 255, 255, 0.2);
}

/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

#copyright {
  overflow: hidden;
  padding: 5em 0em;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

#copyright p {
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}

#copyright a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.4);
}

/*********************************************************************************/
/* Newsletter                                                                    */
/*********************************************************************************/

#newsletter {
  overflow: hidden;
  padding: 8em 0em;
  background: #ededed;
  text-align: center;
}

#newsletter .title h2 {
  color: rgba(0, 0, 0, 0.8);
}

#newsletter .content {
  width: 600px;
  margin: 0px auto;
}

/*********************************************************************************/
/* Portfolio                                                                     */
/*********************************************************************************/

#portfolio {
  padding-top: 8em;
}

#portfolio .box {
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
}

#portfolio h3 {
  display: block;
  padding-bottom: 1em;
  text-transform: uppercase;
  font-size: 1em;
  color: rgba(0, 0, 0, 0.9);
}

#portfolio .title {
  margin-bottom: 5em;
  text-align: justify;
}

#portfolio .title h2 {
  color: rgba(0, 0, 0, 0.8);
}

#portfolio .title .byline {
  letter-spacing: normal;
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.6);
}

#portfolio .icon {
  display: inline-block;
  margin-bottom: 2em;
  font-size: 1.6em;
  color: rgba(0, 0, 0, 0.8);
}

.column1,
.column2,
.column3,
.column4 {
  width: 282px;
}

.column1,
.column2,
.column3 {
  float: left;
  margin-right: 24px;
}

.column4 {
  float: right;
}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/

#three-column {
  overflow: hidden;
  padding-bottom: 4em;
  text-align: center;
}

#three-column h2 {
  margin: 1em 0em;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 700;
}

#three-column .icon {
  position: relative;
  display: block;
  margin: 0px auto 0.8em auto;
  line-height: 150px;
  font-size: 4em;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  text-align: center;
  color: #632f00;
}

#three-column #tbox1,
#three-column #tbox2,
#three-column #tbox3 {
  float: left;
  width: 320px;
  padding: 80px 40px 80px 40px;
}

#three-column .title {
  letter-spacing: 0.1em;
  text-align: center;
  text-transform: uppercase;
}

#three-column .title h2 {
  font-size: 1.6em;
  font-weight: 900;
  font-family: 'Open Sans', sans-serif;
  color: #261300;
}

#three-column .title .byline {
  padding-top: 0.5em;
  font-size: 0.9em;
  color: #858585;
}

#three-column .arrow-down {
  border-top-color: #292929;
}
